@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

nav{
    display: flex;
    width: 100%;
    height: 100%;
}

.brand-logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-logo .text{
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
}

.nav-links{
    width: 80%;
    height: 100%;
    padding: 0 10%;
}

ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

li{
    position: relative;
    width: calc(100% / 6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: font-size 0.1s ease;
}

li.active{
    font-size: 18px;
    font-weight: 600;
}

li.active::before{
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 5px;
    border-radius: 10px;
    background-color: rgb(220, 208, 225);
}

#menu,#close{
    display: none;
    cursor: pointer;
}

@media screen and (max-width:765px) {
    nav{
        align-items: center;
        justify-content: center;
    }
    .brand-logo{
        position: relative;
        width: 100%;
    }
    .brand-logo .text{
        font-size: 30px;
    }
    #menu{
        display: block;
        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);
        scale: 1.5;
    }
    #close{
        display: block;
    }
    #close span{
        scale: 2;
    }
    .nav-links{
        position: absolute;
        top: 0;
        left: -100%;
        height: 100%;
        width: 80%;
        padding: 0;
        padding-top: 1.5rem;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-in-out;
    }
    ul{
        display: inline-block;
    }
    li{
        width: 100%;
        height: 5rem;
        font-size: 25px;
        justify-content: flex-start;
        padding-left: 2rem;
    }
    li.active{
        font-size: 30px;
    }
    li.active::before{
        background-color: transparent;
    }
}
