<nav>
    <div class="brand-logo">
        <div class="text" [routerLink]="['home']">FormFlex</div>
    </div>
    <div class="nav-links">
        <ul>
            <li routerLinkActive="active" [routerLink]="['home']">Home</li>
            <li routerLinkActive="active" [routerLink]="['products']">Products</li>
            <li routerLinkActive="active" [routerLink]="['forms']">Forms</li>
            <li routerLinkActive="active" [routerLink]="['support']">Support</li>
            <li routerLinkActive="active" [routerLink]="['about']">About</li>
        </ul>
    </div>
</nav>